In [244]:
from lxml import html
from lxml.html.clean import clean_html
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [245]:
# Download and output raw HTML
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
page = requests.get(url)
tree = html.fromstring(page.content)
#click.echo(print(soup))

In [246]:
from lxml.html.clean import Cleaner

In [332]:
def fetch_html(url, clean=True):
    page = requests.get(url)
    html = page.content.decode("utf-8", "ignore")
    if clean:
        cleaner = Cleaner(style=True, links=True, add_nofollow=True,
                          page_structure=False, safe_attrs_only=True)
        return cleaner.clean_html(html)
    return html

def parse_table(html):
    soup = BeautifulSoup(html)
    return pd.DataFrame(
        data=[[[(td.text
                  .replace('\n', '')
                  .replace('\xa0', '')
                  .replace('km2', '')
                  .replace('sqmi', '')
                  .split(' / ')[-1]
                  .split('[')[0]
                  .split('\ufeff ')[0]
                  .split('â™ ')[-1]
                  .strip('%|\/'))
              for td in tr.findAll('td')]
             for tr in table.findAll('tr')]
            for table in soup.findAll('table')][4:][0],
        columns=['rank', 'city', 'state', 'pop_estimate', 'census', 
                 'pop_delta', 'pop_density__mi', 'pop_density__km2', 
             'land_area__mi', 'land_area__km2', 'location'])[1:]

def clean_table(table):
    return (
        table.assign(
            pop_estimate=table.pop_estimate.str.replace(',','').astype(int),
            census=table.census.str.replace(',','').astype(float),
            pop_delta=table.pop_delta.str.replace('+','').astype(float, errors='ignore'),
            pop_density__mi=table.pop_density__mi.str.replace(',','').astype(float, errors='ignore'),
            pop_density__km2=table.pop_density__km2.str.replace(',','').astype(float, errors='ignore'),
            land_area__mi=table.land_area__mi.str.replace(',','').astype(int, errors='ignore'),
            land_area__km2=table.land_area__km2.str.replace(',','').astype(int, errors='ignore'),
            latitude=table.location.str.split(';').str.get(0),
            longitude=table.location.str.split(';').str.get(1),
            location=table.city + ', ' + table.state,
            city=table.city,
            state=table.state)
        .set_index('location', drop=True))

In [334]:
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
page = fetch_html(url)
table = parse_table(page).pipe(clean_table)
table.head()

,rank,city,state,pop_estimate,census,pop_delta,pop_density__mi,pop_density__km2,land_area__mi,land_area__km2,latitude,longitude
location,,,,,,,,,,,,
"New York, New York",1,New York,New York,8622698,8175133.0,5.47,301.5,780.9,28317,10933,40.6635,-73.9387
"Los Angeles, California",2,Los Angeles,California,3999759,3792621.0,5.46,468.7,1213.9,8484,3276,34.0194,-118.4108
"Chicago, Illinois",3,Chicago,Illinois,2716450,2695598.0,0.77,227.3,588.7,11900,4600,41.8376,-87.6818
"Houston, Texas",4,Houston,Texas,2312717,2100263.0,10.12,637.5,1651.1,3613,1395,29.7866,-95.3909
"Phoenix, Arizona",5,Phoenix,Arizona,1626078,1445632.0,12.48,517.6,1340.6,3120,1200,33.5722,-112.0901

In [249]:
z = [
    [
        [
            td.text.replace('\n', '')
            for td in tr.findAll('td')]
        for tr in table.findAll('tr')
        if len(tr) > 10
    
    ]
    for table in soup.findAll('table')
    if len(table.findAll('tr')) > 25
]
len(z)
z[0]

[[],
 ['1',
  'New York[6]',
  '\xa0New York',
  '8,622,698',
  '8,175,133',
  '+5.47%',
  '301.5\xa0sq\xa0mi',
  '780.9\xa0km2',
  '28,317/sq\xa0mi',
  '10,933/km2',
  '40Â°39â€²49â€³N 73Â°56â€²19â€³W\ufeff / \ufeff40.6635Â°N 73.9387Â°W\ufeff / 40.6635; -73.9387\ufeff (1 New York City)'],
 ['2',
  'Los Angeles',
  '\xa0California',
  '3,999,759',
  '3,792,621',
  '+5.46%',
  '468.7\xa0sq\xa0mi',
  '1,213.9\xa0km2',
  '8,484/sq\xa0mi',
  '3,276/km2',
  '34Â°01â€²10â€³N 118Â°24â€²39â€³W\ufeff / \ufeff34.0194Â°N 118.4108Â°W\ufeff / 34.0194; -118.4108\ufeff (2 Los Angeles)'],
 ['3',
  'Chicago',
  '\xa0Illinois',
  '2,716,450',
  '2,695,598',
  '+0.77%',
  '227.3\xa0sq\xa0mi',
  '588.7\xa0km2',
  '11,900/sq\xa0mi',
  '4,600/km2',
  '41Â°50â€²15â€³N 87Â°40â€²54â€³W\ufeff / \ufeff41.8376Â°N 87.6818Â°W\ufeff / 41.8376; -87.6818\ufeff (3 Chicago)'],
 ['4',
  'Houston[7]',
  '\xa0Texas',
  '2,312,717',
  '2,100,263',
  '+10.12%',
  '637.5\xa0sq\xa0mi',
  '1,651.1\xa0km2',
  '3,613/sq\xa0mi',
  '1,395/km2',
  '29Â°47â€²12â€³N 95Â°23â€²27â€³W\ufeff / \ufeff29.7866Â°N 95.3909Â°W\ufeff / 29.7866; -95.3909\ufeff (4 Houston)'],
 ['5',
  'Phoenix',
  '\xa0Arizona',
  '1,626,078',
  '1,445,632',
  '+12.48%',
  '517.6\xa0sq\xa0mi',
  '1,340.6\xa0km2',
  '3,120/sq\xa0mi',
  '1,200/km2',
  '33Â°34â€²20â€³N 112Â°05â€²24â€³W\ufeff / \ufeff33.5722Â°N 112.0901Â°W\ufeff / 33.5722; -112.0901\ufeff (6 Phoenix)'],
 ['6',
  'Philadelphia[8]',
  '\xa0Pennsylvania',
  '1,580,863',
  '1,526,006',
  '+3.59%',
  '134.2\xa0sq\xa0mi',
  '347.6\xa0km2',
  '11,683/sq\xa0mi',
  '4,511/km2',
  '40Â°00â€²34â€³N 75Â°08â€²00â€³W\ufeff / \ufeff40.0094Â°N 75.1333Â°W\ufeff / 40.0094; -75.1333\ufeff (5 Philadelphia)'],
 ['7',
  'San Antonio',
  '\xa0Texas',
  '1,511,946',
  '1,327,407',
  '+13.90%',
  '461.0\xa0sq\xa0mi',
  '1,194.0\xa0km2',
  '3,238/sq\xa0mi',
  '1,250/km2',
  '29Â°28â€²21â€³N 98Â°31â€²30â€³W\ufeff / \ufeff29.4724Â°N 98.5251Â°W\ufeff / 29.4724; -98.5251\ufeff (7 San Antonio)'],
 ['8',
  'San Diego',
  '\xa0California',
  '1,419,516',
  '1,307,402',
  '+8.58%',
  '325.2\xa0sq\xa0mi',
  '842.3\xa0km2',
  '4,325/sq\xa0mi',
  '1,670/km2',
  '32Â°48â€²55â€³N 117Â°08â€²06â€³W\ufeff / \ufeff32.8153Â°N 117.1350Â°W\ufeff / 32.8153; -117.1350\ufeff (8 San Diego)'],
 ['9',
  'Dallas',
  '\xa0Texas',
  '1,341,075',
  '1,197,816',
  '+11.96%',
  '340.9\xa0sq\xa0mi',
  '882.9\xa0km2',
  '3,866/sq\xa0mi',
  '1,493/km2',
  '32Â°47â€²36â€³N 96Â°45â€²59â€³W\ufeff / \ufeff32.7933Â°N 96.7665Â°W\ufeff / 32.7933; -96.7665\ufeff (9 Dallas)'],
 ['10',
  'San Jose',
  '\xa0California',
  '1,035,317',
  '945,942',
  '+9.45%',
  '177.5\xa0sq\xa0mi',
  '459.7\xa0km2',
  '5,777/sq\xa0mi',
  '2,231/km2',
  '37Â°17â€²48â€³N 121Â°49â€²08â€³W\ufeff / \ufeff37.2967Â°N 121.8189Â°W\ufeff / 37.2967; -121.8189\ufeff (10 San Jose)'],
 ['11',
  'Austin',
  '\xa0Texas',
  '950,715',
  '790,390',
  '+20.28%',
  '312.7\xa0sq\xa0mi',
  '809.9\xa0km2',
  '3,031/sq\xa0mi',
  '1,170/km2',
  '30Â°18â€²14â€³N 97Â°45â€²16â€³W\ufeff / \ufeff30.3039Â°N 97.7544Â°W\ufeff / 30.3039; -97.7544\ufeff (11 Austin)'],
 ['12',
  'Jacksonville[9]',
  '\xa0Florida',
  '892,062',
  '821,784',
  '+8.55%',
  '747.4\xa0sq\xa0mi',
  '1,935.8\xa0km2',
  '1,178/sq\xa0mi',
  '455/km2',
  '30Â°20â€²13â€³N 81Â°39â€²42â€³W\ufeff / \ufeff30.3369Â°N 81.6616Â°W\ufeff / 30.3369; -81.6616\ufeff (12 Jacksonville)'],
 ['13',
  'San Francisco[10]',
  '\xa0California',
  '884,363',
  '805,235',
  '+9.83%',
  '46.9\xa0sq\xa0mi',
  '121.5\xa0km2',
  '18,569/sq\xa0mi',
  '7,170/km2',
  '37Â°43â€²38â€³N 123Â°01â€²56â€³W\ufeff / \ufeff37.7272Â°N 123.0322Â°W\ufeff / 37.7272; -123.0322\ufeff (13 San Francisco)'],
 ['14',
  'Columbus',
  '\xa0Ohio',
  '879,170',
  '787,033',
  '+11.71%',
  '218.5\xa0sq\xa0mi',
  '565.9\xa0km2',
  '3,936/sq\xa0mi',
  '1,520/km2',
  '39Â°59â€²07â€³N 82Â°59â€²05â€³W\ufeff / \ufeff39.9852Â°N 82.9848Â°W\ufeff / 39.9852; -82.9848\ufeff (15 Columbus)'],
 ['15',
  'Fort Worth',
  '\xa0Texas',
  '874,168',
  '741,206',
  '+17.94%',
  '342.9\xa0sq\xa0mi',
  '888.1\xa0km2',
  '2,491/sq\xa0mi',
  '962/km2',
  '32Â°46â€²53â€³N 97Â°20â€²48â€³W\ufeff / \ufeff32.7815Â°N 97.3467Â°W\ufeff / 32.7815; -97.3467\ufeff (16 Fort Worth)'],
 ['16',
  'Indianapolis[11]',
  '\xa0Indiana',
  '863,002',
  '820,445',
  '+5.19%',
  '361.5\xa0sq\xa0mi',
  '936.3\xa0km2',
  '2,366/sq\xa0mi',
  '914/km2',
  '39Â°46â€²36â€³N 86Â°08â€²45â€³W\ufeff / \ufeff39.7767Â°N 86.1459Â°W\ufeff / 39.7767; -86.1459\ufeff (14 Indianapolis)'],
 ['17',
  'Charlotte',
  '\xa0North Carolina',
  '859,035',
  '731,424',
  '+17.45%',
  '305.4\xa0sq\xa0mi',
  '791.0\xa0km2',
  '2,757/sq\xa0mi',
  '1,064/km2',
  '35Â°12â€²28â€³N 80Â°49â€²52â€³W\ufeff / \ufeff35.2078Â°N 80.8310Â°W\ufeff / 35.2078; -80.8310\ufeff (17 Charlotte)'],
 ['18',
  'Seattle',
  '\xa0Washington',
  '724,745',
  '608,660',
  '+19.07%',
  '83.8\xa0sq\xa0mi',
  '217.0\xa0km2',
  '8,405/sq\xa0mi',
  '3,245/km2',
  '47Â°37â€²14â€³N 122Â°21â€²03â€³W\ufeff / \ufeff47.6205Â°N 122.3509Â°W\ufeff / 47.6205; -122.3509\ufeff (20 Seattle)'],
 ['19',
  'Denver[12]',
  '\xa0Colorado',
  '704,621',
  '600,158',
  '+17.41%',
  '153.3\xa0sq\xa0mi',
  '397.0\xa0km2',
  '4,521/sq\xa0mi',
  '1,746/km2',
  '39Â°45â€²43â€³N 104Â°52â€²52â€³W\ufeff / \ufeff39.7619Â°N 104.8811Â°W\ufeff / 39.7619; -104.8811\ufeff (Denver)'],
 ['20',
  'Washington[13]',
  '\xa0District of Columbia',
  '693,972',
  '601,723',
  '+15.33%',
  '61.1\xa0sq\xa0mi',
  '158.2\xa0km2',
  '11,148/sq\xa0mi',
  '4,304/km2',
  '38Â°54â€²15â€³N 77Â°01â€²02â€³W\ufeff / \ufeff38.9041Â°N 77.0172Â°W\ufeff / 38.9041; -77.0172\ufeff (Washington, D.C.)'],
 ['21',
  'Boston',
  '\xa0Massachusetts',
  '685,094',
  '617,594',
  '+10.93%',
  '48.3\xa0sq\xa0mi',
  '125.1\xa0km2',
  '13,938/sq\xa0mi',
  '5,381/km2',
  '42Â°19â€²55â€³N 71Â°01â€²13â€³W\ufeff / \ufeff42.3320Â°N 71.0202Â°W\ufeff / 42.3320; -71.0202\ufeff (Boston)'],
 ['22',
  'El Paso',
  '\xa0Texas',
  '683,577',
  '649,121',
  '+5.31%',
  '256.8\xa0sq\xa0mi',
  '665.1\xa0km2',
  '2,660/sq\xa0mi',
  '1,030/km2',
  '31Â°50â€²54â€³N 106Â°25â€²37â€³W\ufeff / \ufeff31.8484Â°N 106.4270Â°W\ufeff / 31.8484; -106.4270\ufeff (19 El Paso)'],
 ['23',
  'Detroit',
  '\xa0Michigan',
  '673,104',
  '713,777',
  '2999430172168618490â™ âˆ’5.70%',
  '138.8\xa0sq\xa0mi',
  '359.5\xa0km2',
  '4,847/sq\xa0mi',
  '1,871/km2',
  '42Â°22â€²59â€³N 83Â°06â€²08â€³W\ufeff / \ufeff42.3830Â°N 83.1022Â°W\ufeff / 42.3830; -83.1022\ufeff (18 Detroit)'],
 ['24',
  'Nashville[14]',
  '\xa0Tennessee',
  '667,560',
  '601,222',
  '+11.03%',
  '475.9\xa0sq\xa0mi',
  '1,232.6\xa0km2',
  '1,388/sq\xa0mi',
  '536/km2',
  '36Â°10â€²18â€³N 86Â°47â€²06â€³W\ufeff / \ufeff36.1718Â°N 86.7850Â°W\ufeff / 36.1718; -86.7850\ufeff (Nashville)'],
 ['25',
  'Memphis',
  '\xa0Tennessee',
  '652,236',
  '646,889',
  '+0.83%',
  '317.4\xa0sq\xa0mi',
  '822.1\xa0km2',
  '2,056/sq\xa0mi',
  '794/km2',
  '35Â°06â€²10â€³N 89Â°58â€²39â€³W\ufeff / \ufeff35.1028Â°N 89.9774Â°W\ufeff / 35.1028; -89.9774\ufeff (Memphis)'],
 ['26',
  'Portland',
  '\xa0Oregon',
  '647,805',
  '583,776',
  '+10.97%',
  '133.5\xa0sq\xa0mi',
  '345.8\xa0km2',
  '4,793/sq\xa0mi',
  '1,851/km2',
  '45Â°32â€²13â€³N 122Â°39â€²00â€³W\ufeff / \ufeff45.5370Â°N 122.6500Â°W\ufeff / 45.5370; -122.6500\ufeff (Portland)'],
 ['27',
  'Oklahoma City',
  '\xa0Oklahoma',
  '643,648',
  '579,999',
  '+10.97%',
  '606.3\xa0sq\xa0mi',
  '1,570.3\xa0km2',
  '1,053/sq\xa0mi',
  '407/km2',
  '35Â°28â€²02â€³N 97Â°30â€²49â€³W\ufeff / \ufeff35.4671Â°N 97.5137Â°W\ufeff / 35.4671; -97.5137\ufeff (Oklahoma City)'],
 ['28',
  'Las Vegas',
  '\xa0Nevada',
  '641,676',
  '583,756',
  '+9.92%',
  '134.4\xa0sq\xa0mi',
  '348.1\xa0km2',
  '4,709/sq\xa0mi',
  '1,818/km2',
  '36Â°13â€²45â€³N 115Â°15â€²36â€³W\ufeff / \ufeff36.2292Â°N 115.2601Â°W\ufeff / 36.2292; -115.2601\ufeff (Las Vegas)'],
 ['29',
  'Louisville[15]',
  '\xa0Kentucky',
  '621,349',
  '597,337',
  '+4.02%',
  '263.5\xa0sq\xa0mi',
  '682.5\xa0km2',
  '2,339/sq\xa0mi',
  '903/km2',
  '38Â°09â€²55â€³N 85Â°38â€²51â€³W\ufeff / \ufeff38.1654Â°N 85.6474Â°W\ufeff / 38.1654; -85.6474\ufeff (Louisville)'],
 ['30',
  'Baltimore[16]',
  '\xa0Maryland',
  '611,648',
  '620,961',
  '2999850022787260390â™ âˆ’1.50%',
  '80.9\xa0sq\xa0mi',
  '209.5\xa0km2',
  '7,598/sq\xa0mi',
  '2,934/km2',
  '39Â°18â€²00â€³N 76Â°36â€²38â€³W\ufeff / \ufeff39.3000Â°N 76.6105Â°W\ufeff / 39.3000; -76.6105\ufeff (Baltimore)'],
 ['31',
  'Milwaukee',
  '\xa0Wisconsin',
  '595,351',
  '594,833',
  '+0.09%',
  '96.2\xa0sq\xa0mi',
  '249.2\xa0km2',
  '6,186/sq\xa0mi',
  '2,388/km2',
  '43Â°03â€²48â€³N 87Â°58â€²00â€³W\ufeff / \ufeff43.0633Â°N 87.9667Â°W\ufeff / 43.0633; -87.9667\ufeff (Milwaukee)'],
 ['32',
  'Albuquerque',
  '\xa0New Mexico',
  '558,545',
  '545,852',
  '+2.33%',
  '188.2\xa0sq\xa0mi',
  '487.4\xa0km2',
  '2,972/sq\xa0mi',
  '1,147/km2',
  '35Â°06â€²20â€³N 106Â°38â€²51â€³W\ufeff / \ufeff35.1056Â°N 106.6474Â°W\ufeff / 35.1056; -106.6474\ufeff (Albuquerque)'],
 ['33',
  'Tucson',
  '\xa0Arizona',
  '535,677',
  '520,116',
  '+2.99%',
  '230.8\xa0sq\xa0mi',
  '597.8\xa0km2',
  '2,299/sq\xa0mi',
  '888/km2',
  '32Â°09â€²11â€³N 110Â°52â€²14â€³W\ufeff / \ufeff32.1531Â°N 110.8706Â°W\ufeff / 32.1531; -110.8706\ufeff (Tucson)'],
 ['34',
  'Fresno',
  '\xa0California',
  '527,438',
  '494,665',
  '+6.63%',
  '114.4\xa0sq\xa0mi',
  '296.3\xa0km2',
  '4,563/sq\xa0mi',
  '1,762/km2',
  '36Â°47â€²01â€³N 119Â°47â€²36â€³W\ufeff / \ufeff36.7836Â°N 119.7934Â°W\ufeff / 36.7836; -119.7934\ufeff (Fresno)'],
 ['35',
  'Sacramento',
  '\xa0California',
  '501,901',
  '466,488',
  '+7.59%',
  '97.9\xa0sq\xa0mi',
  '253.6\xa0km2',
  '5,059/sq\xa0mi',
  '1,953/km2',
  '38Â°34â€²00â€³N 121Â°28â€²07â€³W\ufeff / \ufeff38.5666Â°N 121.4686Â°W\ufeff / 38.5666; -121.4686\ufeff (Sacramento)'],
 ['36',
  'Mesa',
  '\xa0Arizona',
  '496,401',
  '439,041',
  '+13.06%',
  '137.9\xa0sq\xa0mi',
  '357.2\xa0km2',
  '3,514/sq\xa0mi',
  '1,357/km2',
  '33Â°24â€²07â€³N 111Â°43â€²03â€³W\ufeff / \ufeff33.4019Â°N 111.7174Â°W\ufeff / 33.4019; -111.7174\ufeff (Mesa)'],
 ['37',
  'Kansas City',
  '\xa0Missouri',
  '488,943',
  '459,787',
  '+6.34%',
  '315.0\xa0sq\xa0mi',
  '815.8\xa0km2',
  '1,528/sq\xa0mi',
  '590/km2',
  '39Â°07â€²30â€³N 94Â°33â€²04â€³W\ufeff / \ufeff39.1251Â°N 94.5510Â°W\ufeff / 39.1251; -94.5510\ufeff (Kansas City, MO)'],
 ['38',
  'Atlanta',
  '\xa0Georgia',
  '486,290',
  '420,003',
  '+15.78%',
  '133.5\xa0sq\xa0mi',
  '345.8\xa0km2',
  '3,539/sq\xa0mi',
  '1,366/km2',
  '33Â°45â€²46â€³N 84Â°25â€²22â€³W\ufeff / \ufeff33.7629Â°N 84.4227Â°W\ufeff / 33.7629; -84.4227\ufeff (Atlanta)'],
 ['39',
  'Long Beach',
  '\xa0California',
  '469,450',
  '462,257',
  '+1.56%',
  '50.3\xa0sq\xa0mi',
  '130.3\xa0km2',
  '9,347/sq\xa0mi',
  '3,609/km2',
  '33Â°48â€²33â€³N 118Â°09â€²19â€³W\ufeff / \ufeff33.8092Â°N 118.1553Â°W\ufeff / 33.8092; -118.1553\ufeff (Long Beach)'],
 ['40',
  'Omaha',
  '\xa0Nebraska',
  '466,893',
  '408,958',
  '+14.17%',
  '133.2\xa0sq\xa0mi',
  '345.0\xa0km2',
  '3,356/sq\xa0mi',
  '1,296/km2',
  '41Â°15â€²52â€³N 96Â°02â€²42â€³W\ufeff / \ufeff41.2644Â°N 96.0451Â°W\ufeff / 41.2644; -96.0451\ufeff (Omaha)'],
 ['41',
  'Raleigh',
  '\xa0North Carolina',
  '464,758',
  '403,892',
  '+15.07%',
  '145.1\xa0sq\xa0mi',
  '375.8\xa0km2',
  '3,163/sq\xa0mi',
  '1,221/km2',
  '35Â°49â€²50â€³N 78Â°38â€²30â€³W\ufeff / \ufeff35.8306Â°N 78.6418Â°W\ufeff / 35.8306; -78.6418\ufeff (Raleigh)'],
 ['42',
  'Colorado Springs',
  '\xa0Colorado',
  '464,474',
  '416,427',
  '+11.54%',
  '195.6\xa0sq\xa0mi',
  '506.6\xa0km2',
  '2,378/sq\xa0mi',
  '918/km2',
  '38Â°52â€²02â€³N 104Â°45â€²39â€³W\ufeff / \ufeff38.8673Â°N 104.7607Â°W\ufeff / 38.8673; -104.7607\ufeff (Colorado Springs)'],
 ['43',
  'Miami',
  '\xa0Florida',
  '463,347',
  '399,457',
  '+15.99%',
  '36.0\xa0sq\xa0mi',
  '93.2\xa0km2',
  '12,599/sq\xa0mi',
  '4,865/km2',
  '25Â°46â€²31â€³N 80Â°12â€²31â€³W\ufeff / \ufeff25.7752Â°N 80.2086Â°W\ufeff / 25.7752; -80.2086\ufeff (Miami)'],
 ['44',
  'Virginia Beach[16]',
  '\xa0Virginia',
  '450,435',
  '437,994',
  '+2.84%',
  '244.7\xa0sq\xa0mi',
  '633.8\xa0km2',
  '1,850/sq\xa0mi',
  '710/km2',
  '36Â°46â€²48â€³N 76Â°01â€²31â€³W\ufeff / \ufeff36.7800Â°N 76.0252Â°W\ufeff / 36.7800; -76.0252\ufeff (Virginia Beach)'],
 ['45',
  'Oakland',
  '\xa0California',
  '425,195',
  '390,724',
  '+8.82%',
  '55.9\xa0sq\xa0mi',
  '144.8\xa0km2',
  '7,514/sq\xa0mi',
  '2,901/km2',
  '37Â°46â€²11â€³N 122Â°13â€²33â€³W\ufeff / \ufeff37.7698Â°N 122.2257Â°W\ufeff / 37.7698; -122.2257\ufeff (Oakland)'],
 ['46',
  'Minneapolis',
  '\xa0Minnesota',
  '422,331',
  '382,578',
  '+10.39%',
  '54.0\xa0sq\xa0mi',
  '139.9\xa0km2',
  '7,660/sq\xa0mi',
  '2,960/km2',
  '44Â°57â€²48â€³N 93Â°16â€²06â€³W\ufeff / \ufeff44.9633Â°N 93.2683Â°W\ufeff / 44.9633; -93.2683\ufeff (Minneapolis)'],
 ['47',
  'Tulsa',
  '\xa0Oklahoma',
  '401,800',
  '391,906',
  '+2.52%',
  '196.8\xa0sq\xa0mi',
  '509.7\xa0km2',
  '2,048/sq\xa0mi',
  '791/km2',
  '36Â°07â€²40â€³N 95Â°54â€²08â€³W\ufeff / \ufeff36.1279Â°N 95.9023Â°W\ufeff / 36.1279; -95.9023\ufeff (Tulsa)'],
 ['48',
  'Arlington',
  '\xa0Texas',
  '396,394',
  '365,438',
  '+8.47%',
  '95.8\xa0sq\xa0mi',
  '248.1\xa0km2',
  '4,100/sq\xa0mi',
  '1,600/km2',
  '32Â°42â€²03â€³N 97Â°07â€²29â€³W\ufeff / \ufeff32.7007Â°N 97.1247Â°W\ufeff / 32.7007; -97.1247\ufeff (Arlington)'],
 ['49',
  'New Orleans[17]',
  '\xa0Louisiana',
  '393,292',
  '343,829',
  '+14.39%',
  '169.4\xa0sq\xa0mi',
  '438.7\xa0km2',
  '2,311/sq\xa0mi',
  '892/km2',
  '30Â°03â€²12â€³N 89Â°56â€²04â€³W\ufeff / \ufeff30.0534Â°N 89.9345Â°W\ufeff / 30.0534; -89.9345\ufeff (New Orleans)'],
 ['50',
  'Wichita',
  '\xa0Kansas',
  '390,591',
  '382,368',
  '+2.15%',
  '160.4\xa0sq\xa0mi',
  '415.4\xa0km2',
  '2,431/sq\xa0mi',
  '939/km2',
  '37Â°41â€²27â€³N 97Â°20â€²45â€³W\ufeff / \ufeff37.6907Â°N 97.3459Â°W\ufeff / 37.6907; -97.3459\ufeff (Wichita)'],
 ['51',
  'Cleveland',
  '\xa0Ohio',
  '385,525',
  '396,815',
  '2999715484545695100â™ âˆ’2.85%',
  '77.7\xa0sq\xa0mi',
  '201.2\xa0km2',
  '4,965/sq\xa0mi',
  '1,917/km2',
  '41Â°28â€²43â€³N 81Â°40â€²46â€³W\ufeff / \ufeff41.4785Â°N 81.6794Â°W\ufeff / 41.4785; -81.6794\ufeff (Cleveland)'],
 ['52',
  'Tampa',
  '\xa0Florida',
  '385,430',
  '335,709',
  '+14.81%',
  '113.4\xa0sq\xa0mi',
  '293.7\xa0km2',
  '3,326/sq\xa0mi',
  '1,284/km2',
  '27Â°58â€²12â€³N 82Â°28â€²47â€³W\ufeff / \ufeff27.9701Â°N 82.4797Â°W\ufeff / 27.9701; -82.4797\ufeff (Tampa)'],
 ['53',
  'Bakersfield',
  '\xa0California',
  '380,874',
  '347,483',
  '+9.61%',
  '148.8\xa0sq\xa0mi',
  '385.4\xa0km2',
  '2,529/sq\xa0mi',
  '976/km2',
  '35Â°19â€²16â€³N 119Â°01â€²06â€³W\ufeff / \ufeff35.3212Â°N 119.0183Â°W\ufeff / 35.3212; -119.0183\ufeff (Bakersfield)'],
 ['54',
  'Aurora',
  '\xa0Colorado',
  '366,623',
  '325,078',
  '+12.78%',
  '153.5\xa0sq\xa0mi',
  '397.6\xa0km2',
  '2,356/sq\xa0mi',
  '910/km2',
  '39Â°41â€²17â€³N 104Â°41â€²23â€³W\ufeff / \ufeff39.6880Â°N 104.6897Â°W\ufeff / 39.6880; -104.6897\ufeff (Aurora)'],
 ['55',
  'Anaheim',
  '\xa0California',
  '352,497',
  '336,265',
  '+4.83%',
  '50.0\xa0sq\xa0mi',
  '129.5\xa0km2',
  '7,021/sq\xa0mi',
  '2,711/km2',
  '33Â°51â€²20â€³N 117Â°45â€²36â€³W\ufeff / \ufeff33.8555Â°N 117.7601Â°W\ufeff / 33.8555; -117.7601\ufeff (Anaheim)'],
 ['56',
  'Honolulu[2]',
  '\xa0Hawaii',
  '350,395',
  '337,256',
  '+3.90%',
  '60.5\xa0sq\xa0mi',
  '156.7\xa0km2',
  '5,815/sq\xa0mi',
  '2,245/km2',
  '21Â°19â€²27â€³N 157Â°50â€²51â€³W\ufeff / \ufeff21.3243Â°N 157.8476Â°W\ufeff / 21.3243; -157.8476\ufeff (Honolulu)'],
 ['57',
  'Santa Ana',
  '\xa0California',
  '334,136',
  '324,528',
  '+2.96%',
  '27.1\xa0sq\xa0mi',
  '70.2\xa0km2',
  '12,333/sq\xa0mi',
  '4,762/km2',
  '33Â°44â€²11â€³N 117Â°52â€²59â€³W\ufeff / \ufeff33.7363Â°N 117.8830Â°W\ufeff / 33.7363; -117.8830\ufeff (Santa Ana)'],
 ['58',
  'Riverside',
  '\xa0California',
  '327,728',
  '303,871',
  '+7.85%',
  '81.2\xa0sq\xa0mi',
  '210.3\xa0km2',
  '3,999/sq\xa0mi',
  '1,544/km2',
  '33Â°56â€²17â€³N 117Â°23â€²36â€³W\ufeff / \ufeff33.9381Â°N 117.3932Â°W\ufeff / 33.9381; -117.3932\ufeff (Riverside)'],
 ['59',
  'Corpus Christi',
  '\xa0Texas',
  '325,605',
  '305,215',
  '+6.68%',
  '174.6\xa0sq\xa0mi',
  '452.2\xa0km2',
  '1,866/sq\xa0mi',
  '720/km2',
  '27Â°45â€²15â€³N 97Â°10â€²24â€³W\ufeff / \ufeff27.7543Â°N 97.1734Â°W\ufeff / 27.7543; -97.1734\ufeff (Corpus Christi)'],
 ['60',
  'Lexington[18]',
  '\xa0Kentucky',
  '321,959',
  '295,803',
  '+8.84%',
  '283.6\xa0sq\xa0mi',
  '734.5\xa0km2',
  '1,123/sq\xa0mi',
  '434/km2',
  '38Â°02â€²27â€³N 84Â°27â€²30â€³W\ufeff / \ufeff38.0407Â°N 84.4583Â°W\ufeff / 38.0407; -84.4583\ufeff (Lexington)'],
 ['61',
  'Stockton',
  '\xa0California',
  '310,496',
  '291,707',
  '+6.44%',
  '61.7\xa0sq\xa0mi',
  '159.8\xa0km2',
  '4,977/sq\xa0mi',
  '1,922/km2',
  '37Â°58â€²35â€³N 121Â°18â€²48â€³W\ufeff / \ufeff37.9763Â°N 121.3133Â°W\ufeff / 37.9763; -121.3133\ufeff (Stockton)'],
 ['62',
  'St. Louis[16]',
  '\xa0Missouri',
  '308,626',
  '319,294',
  '2999665887865102380â™ âˆ’3.34%',
  '62.0\xa0sq\xa0mi',
  '160.6\xa0km2',
  '5,023/sq\xa0mi',
  '1,939/km2',
  '38Â°38â€²09â€³N 90Â°14â€²41â€³W\ufeff / \ufeff38.6357Â°N 90.2446Â°W\ufeff / 38.6357; -90.2446\ufeff (St. Louis)'],
 ['63',
  'Saint Paul',
  '\xa0Minnesota',
  '306,621',
  '285,068',
  '+7.56%',
  '52.0\xa0sq\xa0mi',
  '134.7\xa0km2',
  '5,815/sq\xa0mi',
  '2,245/km2',
  '44Â°56â€²56â€³N 93Â°06â€²15â€³W\ufeff / \ufeff44.9489Â°N 93.1041Â°W\ufeff / 44.9489; -93.1041\ufeff (Saint Paul)'],
 ['64',
  'Henderson',
  '\xa0Nevada',
  '302,539',
  '257,729',
  '+17.39%',
  '104.7\xa0sq\xa0mi',
  '271.2\xa0km2',
  '2,798/sq\xa0mi',
  '1,080/km2',
  '36Â°00â€²35â€³N 115Â°02â€²09â€³W\ufeff / \ufeff36.0097Â°N 115.0357Â°W\ufeff / 36.0097; -115.0357\ufeff (Henderson)'],
 ['65',
  'Pittsburgh',
  '\xa0Pennsylvania',
  '302,407',
  '305,704',
  '2999892150577028760â™ âˆ’1.08%',
  '55.4\xa0sq\xa0mi',
  '143.5\xa0km2',
  '5,481/sq\xa0mi',
  '2,116/km2',
  '40Â°26â€²23â€³N 79Â°58â€²36â€³W\ufeff / \ufeff40.4398Â°N 79.9766Â°W\ufeff / 40.4398; -79.9766\ufeff (Pittsburgh)'],
 ['66',
  'Cincinnati',
  '\xa0Ohio',
  '301,301',
  '296,943',
  '+1.47%',
  '77.4\xa0sq\xa0mi',
  '200.5\xa0km2',
  '3,860/sq\xa0mi',
  '1,490/km2',
  '39Â°08â€²25â€³N 84Â°30â€²21â€³W\ufeff / \ufeff39.1402Â°N 84.5058Â°W\ufeff / 39.1402; -84.5058\ufeff (Cincinnati)'],
 ['67',
  'Anchorage[19]',
  '\xa0Alaska',
  '294,356',
  '291,826',
  '+0.87%',
  '1,706.6\xa0sq\xa0mi',
  '4,420.1\xa0km2',
  '175/sq\xa0mi',
  '68/km2',
  '61Â°10â€²27â€³N 149Â°17â€²03â€³W\ufeff / \ufeff61.1743Â°N 149.2843Â°W\ufeff / 61.1743; -149.2843\ufeff (Anchorage)'],
 ['68',
  'Greensboro',
  '\xa0North Carolina',
  '290,222',
  '269,666',
  '+7.62%',
  '128.3\xa0sq\xa0mi',
  '332.3\xa0km2',
  '2,237/sq\xa0mi',
  '864/km2',
  '36Â°05â€²42â€³N 79Â°49â€²37â€³W\ufeff / \ufeff36.0951Â°N 79.8270Â°W\ufeff / 36.0951; -79.8270\ufeff (Greensboro)'],
 ['69',
  'Plano',
  '\xa0Texas',
  '286,143',
  '259,841',
  '+10.12%',
  '71.7\xa0sq\xa0mi',
  '185.7\xa0km2',
  '3,990/sq\xa0mi',
  '1,540/km2',
  '33Â°03â€²03â€³N 96Â°44â€²52â€³W\ufeff / \ufeff33.0508Â°N 96.7479Â°W\ufeff / 33.0508; -96.7479\ufeff (Plano)'],
 ['70',
  'Newark',
  '\xa0New Jersey',
  '285,154',
  '277,140',
  '+2.89%',
  '24.1\xa0sq\xa0mi',
  '62.4\xa0km2',
  '11,691/sq\xa0mi',
  '4,514/km2',
  '40Â°43â€²27â€³N 74Â°10â€²21â€³W\ufeff / \ufeff40.7242Â°N 74.1726Â°W\ufeff / 40.7242; -74.1726\ufeff (Newark)'],
 ['71',
  'Lincoln',
  '\xa0Nebraska',
  '284,736',
  '258,379',
  '+10.20%',
  '92.1\xa0sq\xa0mi',
  '238.5\xa0km2',
  '3,044/sq\xa0mi',
  '1,175/km2',
  '40Â°48â€²38â€³N 96Â°40â€²49â€³W\ufeff / \ufeff40.8105Â°N 96.6803Â°W\ufeff / 40.8105; -96.6803\ufeff (Lincoln)'],
 ['72',
  'Orlando',
  '\xa0Florida',
  '280,257',
  '238,300',
  '+17.61%',
  '105.2\xa0sq\xa0mi',
  '272.5\xa0km2',
  '2,635/sq\xa0mi',
  '1,017/km2',
  '28Â°25â€²00â€³N 81Â°16â€²25â€³W\ufeff / \ufeff28.4166Â°N 81.2736Â°W\ufeff / 28.4166; -81.2736\ufeff (Orlando)'],
 ['73',
  'Irvine',

In [331]:
table =

,rank,city,state,pop_estimate,census,pop_delta,pop_density__mi,pop_density__km2,land_area__mi,land_area__km2,latitude,longitude
location,,,,,,,,,,,,
"New York, New York",1,New York,New York,8622698,8175133.0,5.47,301.5,780.9,28317,10933,40.6635,-73.9387
"Los Angeles, California",2,Los Angeles,California,3999759,3792621.0,5.46,468.7,1213.9,8484,3276,34.0194,-118.4108
"Chicago, Illinois",3,Chicago,Illinois,2716450,2695598.0,0.77,227.3,588.7,11900,4600,41.8376,-87.6818
"Houston, Texas",4,Houston,Texas,2312717,2100263.0,10.12,637.5,1651.1,3613,1395,29.7866,-95.3909
"Phoenix, Arizona",5,Phoenix,Arizona,1626078,1445632.0,12.48,517.6,1340.6,3120,1200,33.5722,-112.0901
"Philadelphia, Pennsylvania",6,Philadelphia,Pennsylvania,1580863,1526006.0,3.59,134.2,347.6,11683,4511,40.0094,-75.1333
"San Antonio, Texas",7,San Antonio,Texas,1511946,1327407.0,13.90,461.0,1194.0,3238,1250,29.4724,-98.5251
"San Diego, California",8,San Diego,California,1419516,1307402.0,8.58,325.2,842.3,4325,1670,32.8153,-117.1350
"Dallas, Texas",9,Dallas,Texas,1341075,1197816.0,11.96,340.9,882.9,3866,1493,32.7933,-96.7665
"San Jose, California",10,San Jose,California,1035317,945942.0,9.45,177.5,459.7,5777,2231,37.2967,-121.8189
"Austin, Texas",11,Austin,Texas,950715,790390.0,20.28,312.7,809.9,3031,1170,30.3039,-97.7544
"Jacksonville, Florida",12,Jacksonville,Florida,892062,821784.0,8.55,747.4,1935.8,1178,455,30.3369,-81.6616
"San Francisco, California",13,San Francisco,California,884363,805235.0,9.83,46.9,121.5,18569,7170,37.7272,-123.0322
"Columbus, Ohio",14,Columbus,Ohio,879170,787033.0,11.71,218.5,565.9,3936,1520,39.9852,-82.9848
"Fort Worth, Texas",15,Fort Worth,Texas,874168,741206.0,17.94,342.9,888.1,2491,962,32.7815,-97.3467
"Indianapolis, Indiana",16,Indianapolis,Indiana,863002,820445.0,5.19,361.5,936.3,2366,914,39.7767,-86.1459
"Charlotte, North Carolina",17,Charlotte,North Carolina,859035,731424.0,17.45,305.4,791.0,2757,1064,35.2078,-80.8310
"Seattle, Washington",18,Seattle,Washington,724745,608660.0,19.07,83.8,217.0,8405,3245,47.6205,-122.3509
"Denver, Colorado",19,Denver,Colorado,704621,600158.0,17.41,153.3,397.0,4521,1746,39.7619,-104.8811
"Washington, District of Columbia",20,Washington,District of Columbia,693972,601723.0,15.33,61.1,158.2,11148,4304,38.9041,-77.0172
"Boston, Massachusetts",21,Boston,Massachusetts,685094,617594.0,10.93,48.3,125.1,13938,5381,42.3320,-71.0202
"El Paso, Texas",22,El Paso,Texas,683577,649121.0,5.31,256.8,665.1,2660,1030,31.8484,-106.4270
"Detroit, Michigan",23,Detroit,Michigan,673104,713777.0,âˆ’5.70,138.8,359.5,4847,1871,42.3830,-83.1022
"Nashville, Tennessee",24,Nashville,Tennessee,667560,601222.0,11.03,475.9,1232.6,1388,536,36.1718,-86.7850
"Memphis, Tennessee",25,Memphis,Tennessee,652236,646889.0,0.83,317.4,822.1,2056,794,35.1028,-89.9774
"Portland, Oregon",26,Portland,Oregon,647805,583776.0,10.97,133.5,345.8,4793,1851,45.5370,-122.6500
"Oklahoma City, Oklahoma",27,Oklahoma City,Oklahoma,643648,579999.0,10.97,606.3,1570.3,1053,407,35.4671,-97.5137
"Las Vegas, Nevada",28,Las Vegas,Nevada,641676,583756.0,9.92,134.4,348.1,4709,1818,36.2292,-115.2601
"Louisville, Kentucky",29,Louisville,Kentucky,621349,597337.0,4.02,263.5,682.5,2339,903,38.1654,-85.6474
"Baltimore, Maryland",30,Baltimore,Maryland,611648,620961.0,âˆ’1.50,80.9,209.5,7598,2934,39.3000,-76.6105
...,...,...,...,...,...,...,...,...,...,...,...,...
"Santa Maria, California",282,Santa Maria,California,107014,99553.0,7.49,22.8,59.1,4662,1800,34.9332,-120.4438
"Hillsboro, Oregon",283,Hillsboro,Oregon,106894,91611.0,16.68,25.0,64.7,4207,1624,45.5280,-122.9357
"Sandy Springs, Georgia",284,Sandy Springs,Georgia,106739,93853.0,13.73,37.7,97.6,2804,1083,33.9315,-84.3687
"Norwalk, California",285,Norwalk,California,106084,105549.0,0.51,9.7,25.1,10946,4226,33.9076,-118.0835
"Jurupa Valley, California",286,Jurupa Valley,California,106028,0.0,NA,42.9,111.1,2414,932,34.0026,-117.4676
"Lewisville, Texas",287,Lewisville,Texas,106021,95290.0,11.26,36.7,95.1,2852,1101,33.0466,-96.9818
"Greeley, Colorado",288,Greeley,Colorado,105448,92889.0,13.52,47.8,123.8,2176,840,40.4153,-104.7697
"Davie, Florida",289,Davie,Florida,105149,91992.0,14.30,34.9,90.4,2919,1127,26.0791,-80.2850
"Green Bay, Wisconsin",290,Green Bay,Wisconsin,105116,104057.0,1.02,45.4,117.6,2316,894,44.5207,-87.9842
"Tyler, Texas",291,Tyler,Texas,104991,96900.0,8.35,56.6,146.6,1852,715,32.3173,-95.3059
"League City, Texas",292,League City,Texas,104903,83560.0,25.54,51.2,132.6,1992,769,29.4901,-95.1091
"Burbank, California",293,Burbank,California,104834,103340.0,1.45,17.4,45.1,6003,2318,34.1901,-118.3264
"San Mateo, California",294,San Mateo,California,104748,97207.0,7.76,12.1,31.3,8592,3317,37.5603,-122.3106
"Wichita Falls, Texas",295,Wichita Falls,Texas,104747,104553.0,0.19,72.2,187.0,1450,560,33.9067,-98.5259
"El Cajon, California",296,El Cajon,California,103894,99478.0,4.44,14.5,37.6,7156,2763,32.8017,-116.9604
"Rialto, California",297,Rialto,California,103562,99171.0,4.43,22.3,57.8,4633,1789,34.1118,-117.3883
"Lakewood , New Jersey",298,Lakewood,New Jersey,102682,92843.0,10.60,24.7,64.0,4079,1575,40.0771,-74.2004
"Edison , New Jersey",299,Edison,New Jersey,102450,99967.0,2.48,30.1,78.0,3389,1309,40.5040,-74.3494
"Davenport, Iowa",300,Davenport,Iowa,102320,99685.0,2.64,62.9,162.9,1631,630,41.5541,-90.6040
"South Bend, Indiana",301,South Bend,Indiana,102245,101168.0,1.06,41.4,107.2,2457,949,41.6769,-86.2690
"Woodbridge, New Jersey",302,Woodbridge,New Jersey,101965,99585.0,2.39,23.3,60.3,4351,1680,40.5607,-74.2927
"Las Cruces, New Mexico",303,Las Cruces,New Mexico,101712,97618.0,4.19,76.9,199.2,1323,511,32.3264,-106.7897
"Vista, California",304,Vista,California,101568,93834.0,8.24,18.7,48.4,5436,2099,33.1895,-117.2386
"Renton, Washington",305,Renton,Washington,101379,90927.0,11.49,23.4,60.6,4314,1666,47.4761,-122.1920
"Sparks, Nevada",306,Sparks,Nevada,100888,90264.0,11.77,35.9,93.0,2810,1080,39.5544,-119.7356
"Clinton, Michigan",307,Clinton,Michigan,100712,96796.0,4.05,28.1,72.8,3573,1380,42.5903,-82.9170
"Allen, Texas",308,Allen,Texas,100685,84246.0,19.51,27.1,70.2,3715,1434,33.0997,-96.6631
"Tuscaloosa, Alabama",309,Tuscaloosa,Alabama,100287,90468.0,10.85,71.7,185.7,1399,540,33.2065,-87.5346
"San Angelo, Texas",310,San Angelo,Texas,100119,93200.0,7.42,59.9,155.1,1681,649,31.4411,-100.4505
"Vacaville, California",311,Vacaville,California,100032,92428.0,8.23,29.0,75.1,3449,1332,38.3539,-121.9728

In [330]:
table

,rank,city,state,pop_estimate,census,pop_delta,pop_density__mi,pop_density__km2,land_area__mi,land_area__km2,latitude,longitude
location,,,,,,,,,,,,
"New York, New York",1,New York,New York,8622698,8175133.0,5.47,301.5,780.9,28317,10933,40.6635,-73.9387
"Los Angeles, California",2,Los Angeles,California,3999759,3792621.0,5.46,468.7,1213.9,8484,3276,34.0194,-118.4108
"Chicago, Illinois",3,Chicago,Illinois,2716450,2695598.0,0.77,227.3,588.7,11900,4600,41.8376,-87.6818
"Houston, Texas",4,Houston,Texas,2312717,2100263.0,10.12,637.5,1651.1,3613,1395,29.7866,-95.3909
"Phoenix, Arizona",5,Phoenix,Arizona,1626078,1445632.0,12.48,517.6,1340.6,3120,1200,33.5722,-112.0901
"Philadelphia, Pennsylvania",6,Philadelphia,Pennsylvania,1580863,1526006.0,3.59,134.2,347.6,11683,4511,40.0094,-75.1333
"San Antonio, Texas",7,San Antonio,Texas,1511946,1327407.0,13.90,461.0,1194.0,3238,1250,29.4724,-98.5251
"San Diego, California",8,San Diego,California,1419516,1307402.0,8.58,325.2,842.3,4325,1670,32.8153,-117.1350
"Dallas, Texas",9,Dallas,Texas,1341075,1197816.0,11.96,340.9,882.9,3866,1493,32.7933,-96.7665
"San Jose, California",10,San Jose,California,1035317,945942.0,9.45,177.5,459.7,5777,2231,37.2967,-121.8189
"Austin, Texas",11,Austin,Texas,950715,790390.0,20.28,312.7,809.9,3031,1170,30.3039,-97.7544
"Jacksonville, Florida",12,Jacksonville,Florida,892062,821784.0,8.55,747.4,1935.8,1178,455,30.3369,-81.6616
"San Francisco, California",13,San Francisco,California,884363,805235.0,9.83,46.9,121.5,18569,7170,37.7272,-123.0322
"Columbus, Ohio",14,Columbus,Ohio,879170,787033.0,11.71,218.5,565.9,3936,1520,39.9852,-82.9848
"Fort Worth, Texas",15,Fort Worth,Texas,874168,741206.0,17.94,342.9,888.1,2491,962,32.7815,-97.3467
"Indianapolis, Indiana",16,Indianapolis,Indiana,863002,820445.0,5.19,361.5,936.3,2366,914,39.7767,-86.1459
"Charlotte, North Carolina",17,Charlotte,North Carolina,859035,731424.0,17.45,305.4,791.0,2757,1064,35.2078,-80.8310
"Seattle, Washington",18,Seattle,Washington,724745,608660.0,19.07,83.8,217.0,8405,3245,47.6205,-122.3509
"Denver, Colorado",19,Denver,Colorado,704621,600158.0,17.41,153.3,397.0,4521,1746,39.7619,-104.8811
"Washington, District of Columbia",20,Washington,District of Columbia,693972,601723.0,15.33,61.1,158.2,11148,4304,38.9041,-77.0172
"Boston, Massachusetts",21,Boston,Massachusetts,685094,617594.0,10.93,48.3,125.1,13938,5381,42.3320,-71.0202
"El Paso, Texas",22,El Paso,Texas,683577,649121.0,5.31,256.8,665.1,2660,1030,31.8484,-106.4270
"Detroit, Michigan",23,Detroit,Michigan,673104,713777.0,âˆ’5.70,138.8,359.5,4847,1871,42.3830,-83.1022
"Nashville, Tennessee",24,Nashville,Tennessee,667560,601222.0,11.03,475.9,1232.6,1388,536,36.1718,-86.7850
"Memphis, Tennessee",25,Memphis,Tennessee,652236,646889.0,0.83,317.4,822.1,2056,794,35.1028,-89.9774
"Portland, Oregon",26,Portland,Oregon,647805,583776.0,10.97,133.5,345.8,4793,1851,45.5370,-122.6500
"Oklahoma City, Oklahoma",27,Oklahoma City,Oklahoma,643648,579999.0,10.97,606.3,1570.3,1053,407,35.4671,-97.5137
"Las Vegas, Nevada",28,Las Vegas,Nevada,641676,583756.0,9.92,134.4,348.1,4709,1818,36.2292,-115.2601
"Louisville, Kentucky",29,Louisville,Kentucky,621349,597337.0,4.02,263.5,682.5,2339,903,38.1654,-85.6474
"Baltimore, Maryland",30,Baltimore,Maryland,611648,620961.0,âˆ’1.50,80.9,209.5,7598,2934,39.3000,-76.6105
...,...,...,...,...,...,...,...,...,...,...,...,...
"Santa Maria, California",282,Santa Maria,California,107014,99553.0,7.49,22.8,59.1,4662,1800,34.9332,-120.4438
"Hillsboro, Oregon",283,Hillsboro,Oregon,106894,91611.0,16.68,25.0,64.7,4207,1624,45.5280,-122.9357
"Sandy Springs, Georgia",284,Sandy Springs,Georgia,106739,93853.0,13.73,37.7,97.6,2804,1083,33.9315,-84.3687
"Norwalk, California",285,Norwalk,California,106084,105549.0,0.51,9.7,25.1,10946,4226,33.9076,-118.0835
"Jurupa Valley, California",286,Jurupa Valley,California,106028,0.0,NA,42.9,111.1,2414,932,34.0026,-117.4676
"Lewisville, Texas",287,Lewisville,Texas,106021,95290.0,11.26,36.7,95.1,2852,1101,33.0466,-96.9818
"Greeley, Colorado",288,Greeley,Colorado,105448,92889.0,13.52,47.8,123.8,2176,840,40.4153,-104.7697
"Davie, Florida",289,Davie,Florida,105149,91992.0,14.30,34.9,90.4,2919,1127,26.0791,-80.2850
"Green Bay, Wisconsin",290,Green Bay,Wisconsin,105116,104057.0,1.02,45.4,117.6,2316,894,44.5207,-87.9842
"Tyler, Texas",291,Tyler,Texas,104991,96900.0,8.35,56.6,146.6,1852,715,32.3173,-95.3059
"League City, Texas",292,League City,Texas,104903,83560.0,25.54,51.2,132.6,1992,769,29.4901,-95.1091
"Burbank, California",293,Burbank,California,104834,103340.0,1.45,17.4,45.1,6003,2318,34.1901,-118.3264
"San Mateo, California",294,San Mateo,California,104748,97207.0,7.76,12.1,31.3,8592,3317,37.5603,-122.3106
"Wichita Falls, Texas",295,Wichita Falls,Texas,104747,104553.0,0.19,72.2,187.0,1450,560,33.9067,-98.5259
"El Cajon, California",296,El Cajon,California,103894,99478.0,4.44,14.5,37.6,7156,2763,32.8017,-116.9604
"Rialto, California",297,Rialto,California,103562,99171.0,4.43,22.3,57.8,4633,1789,34.1118,-117.3883
"Lakewood , New Jersey",298,Lakewood,New Jersey,102682,92843.0,10.60,24.7,64.0,4079,1575,40.0771,-74.2004
"Edison , New Jersey",299,Edison,New Jersey,102450,99967.0,2.48,30.1,78.0,3389,1309,40.5040,-74.3494
"Davenport, Iowa",300,Davenport,Iowa,102320,99685.0,2.64,62.9,162.9,1631,630,41.5541,-90.6040
"South Bend, Indiana",301,South Bend,Indiana,102245,101168.0,1.06,41.4,107.2,2457,949,41.6769,-86.2690
"Woodbridge, New Jersey",302,Woodbridge,New Jersey,101965,99585.0,2.39,23.3,60.3,4351,1680,40.5607,-74.2927
"Las Cruces, New Mexico",303,Las Cruces,New Mexico,101712,97618.0,4.19,76.9,199.2,1323,511,32.3264,-106.7897
"Vista, California",304,Vista,California,101568,93834.0,8.24,18.7,48.4,5436,2099,33.1895,-117.2386
"Renton, Washington",305,Renton,Washington,101379,90927.0,11.49,23.4,60.6,4314,1666,47.4761,-122.1920
"Sparks, Nevada",306,Sparks,Nevada,100888,90264.0,11.77,35.9,93.0,2810,1080,39.5544,-119.7356
"Clinton, Michigan",307,Clinton,Michigan,100712,96796.0,4.05,28.1,72.8,3573,1380,42.5903,-82.9170
"Allen, Texas",308,Allen,Texas,100685,84246.0,19.51,27.1,70.2,3715,1434,33.0997,-96.6631
"Tuscaloosa, Alabama",309,Tuscaloosa,Alabama,100287,90468.0,10.85,71.7,185.7,1399,540,33.2065,-87.5346
"San Angelo, Texas",310,San Angelo,Texas,100119,93200.0,7.42,59.9,155.1,1681,649,31.4411,-100.4505
"Vacaville, California",311,Vacaville,California,100032,92428.0,8.23,29.0,75.1,3449,1332,38.3539,-121.9728

In [311]:
table.assign(
    pop_estimate=table.pop_estimate.str.replace(',','').astype(int),
    census=table.census.str.replace(',','').astype(float),
    pop_delta=table.pop_delta.str.replace('+','').astype(float, errors='ignore'),
    pop_density__mi=table.pop_density__mi.str.replace(',','').astype(float, errors='ignore'),
    pop_density__km2=table.pop_density__km2.str.replace(',','').astype(float, errors='ignore'),
    land_area__mi=table.land_area__mi.str.replace(',','').astype(int, errors='ignore'),
    land_area__km2=table.land_area__km2.str.replace(',','').astype(int, errors='ignore'),
    latitude=table.location.str.split(';').str.get(0),
    longitude=table.location.str.split(';').str.get(1),
    location=table.city + ', ' + table.state,
    city=table.city,
    state=table.state
).set_index('location', drop=True)

,rank,city,state,pop_estimate,census,pop_delta,pop_density__mi,pop_density__km2,land_area__mi,land_area__km2,latitude,longitude
location,,,,,,,,,,,,
"New York, New York",1,New York,New York,8622698,8175133.0,5.47,301.5,780.9,28317,10933,40.6635,-73.9387
"Los Angeles, California",2,Los Angeles,California,3999759,3792621.0,5.46,468.7,1213.9,8484,3276,34.0194,-118.4108
"Chicago, Illinois",3,Chicago,Illinois,2716450,2695598.0,0.77,227.3,588.7,11900,4600,41.8376,-87.6818
"Houston, Texas",4,Houston,Texas,2312717,2100263.0,10.12,637.5,1651.1,3613,1395,29.7866,-95.3909
"Phoenix, Arizona",5,Phoenix,Arizona,1626078,1445632.0,12.48,517.6,1340.6,3120,1200,33.5722,-112.0901
"Philadelphia, Pennsylvania",6,Philadelphia,Pennsylvania,1580863,1526006.0,3.59,134.2,347.6,11683,4511,40.0094,-75.1333
"San Antonio, Texas",7,San Antonio,Texas,1511946,1327407.0,13.90,461.0,1194.0,3238,1250,29.4724,-98.5251
"San Diego, California",8,San Diego,California,1419516,1307402.0,8.58,325.2,842.3,4325,1670,32.8153,-117.1350
"Dallas, Texas",9,Dallas,Texas,1341075,1197816.0,11.96,340.9,882.9,3866,1493,32.7933,-96.7665
"San Jose, California",10,San Jose,California,1035317,945942.0,9.45,177.5,459.7,5777,2231,37.2967,-121.8189
"Austin, Texas",11,Austin,Texas,950715,790390.0,20.28,312.7,809.9,3031,1170,30.3039,-97.7544
"Jacksonville, Florida",12,Jacksonville,Florida,892062,821784.0,8.55,747.4,1935.8,1178,455,30.3369,-81.6616
"San Francisco, California",13,San Francisco,California,884363,805235.0,9.83,46.9,121.5,18569,7170,37.7272,-123.0322
"Columbus, Ohio",14,Columbus,Ohio,879170,787033.0,11.71,218.5,565.9,3936,1520,39.9852,-82.9848
"Fort Worth, Texas",15,Fort Worth,Texas,874168,741206.0,17.94,342.9,888.1,2491,962,32.7815,-97.3467
"Indianapolis, Indiana",16,Indianapolis,Indiana,863002,820445.0,5.19,361.5,936.3,2366,914,39.7767,-86.1459
"Charlotte, North Carolina",17,Charlotte,North Carolina,859035,731424.0,17.45,305.4,791.0,2757,1064,35.2078,-80.8310
"Seattle, Washington",18,Seattle,Washington,724745,608660.0,19.07,83.8,217.0,8405,3245,47.6205,-122.3509
"Denver, Colorado",19,Denver,Colorado,704621,600158.0,17.41,153.3,397.0,4521,1746,39.7619,-104.8811
"Washington, District of Columbia",20,Washington,District of Columbia,693972,601723.0,15.33,61.1,158.2,11148,4304,38.9041,-77.0172
"Boston, Massachusetts",21,Boston,Massachusetts,685094,617594.0,10.93,48.3,125.1,13938,5381,42.3320,-71.0202
"El Paso, Texas",22,El Paso,Texas,683577,649121.0,5.31,256.8,665.1,2660,1030,31.8484,-106.4270
"Detroit, Michigan",23,Detroit,Michigan,673104,713777.0,âˆ’5.70,138.8,359.5,4847,1871,42.3830,-83.1022
"Nashville, Tennessee",24,Nashville,Tennessee,667560,601222.0,11.03,475.9,1232.6,1388,536,36.1718,-86.7850
"Memphis, Tennessee",25,Memphis,Tennessee,652236,646889.0,0.83,317.4,822.1,2056,794,35.1028,-89.9774
"Portland, Oregon",26,Portland,Oregon,647805,583776.0,10.97,133.5,345.8,4793,1851,45.5370,-122.6500
"Oklahoma City, Oklahoma",27,Oklahoma City,Oklahoma,643648,579999.0,10.97,606.3,1570.3,1053,407,35.4671,-97.5137
"Las Vegas, Nevada",28,Las Vegas,Nevada,641676,583756.0,9.92,134.4,348.1,4709,1818,36.2292,-115.2601
"Louisville, Kentucky",29,Louisville,Kentucky,621349,597337.0,4.02,263.5,682.5,2339,903,38.1654,-85.6474
"Baltimore, Maryland",30,Baltimore,Maryland,611648,620961.0,âˆ’1.50,80.9,209.5,7598,2934,39.3000,-76.6105
...,...,...,...,...,...,...,...,...,...,...,...,...
"Santa Maria, California",282,Santa Maria,California,107014,99553.0,7.49,22.8,59.1,4662,1800,34.9332,-120.4438
"Hillsboro, Oregon",283,Hillsboro,Oregon,106894,91611.0,16.68,25.0,64.7,4207,1624,45.5280,-122.9357
"Sandy Springs, Georgia",284,Sandy Springs,Georgia,106739,93853.0,13.73,37.7,97.6,2804,1083,33.9315,-84.3687
"Norwalk, California",285,Norwalk,California,106084,105549.0,0.51,9.7,25.1,10946,4226,33.9076,-118.0835
"Jurupa Valley, California",286,Jurupa Valley,California,106028,0.0,NA,42.9,111.1,2414,932,34.0026,-117.4676
"Lewisville, Texas",287,Lewisville,Texas,106021,95290.0,11.26,36.7,95.1,2852,1101,33.0466,-96.9818
"Greeley, Colorado",288,Greeley,Colorado,105448,92889.0,13.52,47.8,123.8,2176,840,40.4153,-104.7697
"Davie, Florida",289,Davie,Florida,105149,91992.0,14.30,34.9,90.4,2919,1127,26.0791,-80.2850
"Green Bay, Wisconsin",290,Green Bay,Wisconsin,105116,104057.0,1.02,45.4,117.6,2316,894,44.5207,-87.9842
"Tyler, Texas",291,Tyler,Texas,104991,96900.0,8.35,56.6,146.6,1852,715,32.3173,-95.3059
"League City, Texas",292,League City,Texas,104903,83560.0,25.54,51.2,132.6,1992,769,29.4901,-95.1091
"Burbank, California",293,Burbank,California,104834,103340.0,1.45,17.4,45.1,6003,2318,34.1901,-118.3264
"San Mateo, California",294,San Mateo,California,104748,97207.0,7.76,12.1,31.3,8592,3317,37.5603,-122.3106
"Wichita Falls, Texas",295,Wichita Falls,Texas,104747,104553.0,0.19,72.2,187.0,1450,560,33.9067,-98.5259
"El Cajon, California",296,El Cajon,California,103894,99478.0,4.44,14.5,37.6,7156,2763,32.8017,-116.9604
"Rialto, California",297,Rialto,California,103562,99171.0,4.43,22.3,57.8,4633,1789,34.1118,-117.3883
"Lakewood , New Jersey",298,Lakewood,New Jersey,102682,92843.0,10.60,24.7,64.0,4079,1575,40.0771,-74.2004
"Edison , New Jersey",299,Edison,New Jersey,102450,99967.0,2.48,30.1,78.0,3389,1309,40.5040,-74.3494
"Davenport, Iowa",300,Davenport,Iowa,102320,99685.0,2.64,62.9,162.9,1631,630,41.5541,-90.6040
"South Bend, Indiana",301,South Bend,Indiana,102245,101168.0,1.06,41.4,107.2,2457,949,41.6769,-86.2690
"Woodbridge, New Jersey",302,Woodbridge,New Jersey,101965,99585.0,2.39,23.3,60.3,4351,1680,40.5607,-74.2927
"Las Cruces, New Mexico",303,Las Cruces,New Mexico,101712,97618.0,4.19,76.9,199.2,1323,511,32.3264,-106.7897
"Vista, California",304,Vista,California,101568,93834.0,8.24,18.7,48.4,5436,2099,33.1895,-117.2386
"Renton, Washington",305,Renton,Washington,101379,90927.0,11.49,23.4,60.6,4314,1666,47.4761,-122.1920
"Sparks, Nevada",306,Sparks,Nevada,100888,90264.0,11.77,35.9,93.0,2810,1080,39.5544,-119.7356
"Clinton, Michigan",307,Clinton,Michigan,100712,96796.0,4.05,28.1,72.8,3573,1380,42.5903,-82.9170
"Allen, Texas",308,Allen,Texas,100685,84246.0,19.51,27.1,70.2,3715,1434,33.0997,-96.6631
"Tuscaloosa, Alabama",309,Tuscaloosa,Alabama,100287,90468.0,10.85,71.7,185.7,1399,540,33.2065,-87.5346
"San Angelo, Texas",310,San Angelo,Texas,100119,93200.0,7.42,59.9,155.1,1681,649,31.4411,-100.4505
"Vacaville, California",311,Vacaville,California,100032,92428.0,8.23,29.0,75.1,3449,1332,38.3539,-121.9728